CONFIG_TINYUSB_HID_COUNT=1
CONFIG_TINYUSB_NET_MODE_NCM=y
CONFIG_TINYUSB_NET_MODE_ECM_RNDIS=n
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n
CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=y
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="BOOTMUX"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="BOOTMUX Bridge"
CONFIG_TINYUSB_DESC_SERIAL_STRING="BOOTMUX-R7A"
